.HTML{
    align-items: first baseline;
    white-space:break-spaces;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: beige;
}

h1{
    font-family:cursive;
    background-color: beige;
}





